.view_container {
  width: 50%;
  margin: 5px auto;
  &__view_task_container {
    background: #fff;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    max-height: 350px;
    overflow-y: auto;
    &__task_container {
      display: flex;
      align-items: center;
      padding: 10px;
      border: 1px solid #fff;
      border-radius: 10px;
      &:hover {
        .icon {
          // display: flex;
          opacity: 1;
        }
        background: #eee;
        cursor: pointer;
      }
      &__task_info {
        display: flex;
        flex: 1;
        align-items: center;
        &__task_priority {
          margin-right: 10px;
        }
        &__task_details_container {
          flex: 1;
          &__task {
            margin: 0;
            font-size: 18px;
            color: #000;
            flex: 1;
          }
          &__time_elapsed {
            font-style: italic;
          }
          .cross {
            text-decoration: line-through;
            color: #aaa;
          }
          .time-elapsed-blur {
            color: #bbb;
          }
          .icon-blur {
            color: #aaa;
          }
        }
      }
      .view_container__view_task_container__close_task_icon {
        // display: none;
        opacity: 0;
        color: #aaa;
        &:hover {
          color: #f44336;
        }
      }
    }
  }
  .view_container_bottom_info__total_tasks {
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    span {
      font-weight: bold;
    }
  }
}
